* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: url("./loginImage.jpeg");
}

.mainMap {
  height: 93vh;
  width: 100vw;
  position: relative;
}

.mapContainer {
  position: relative;
}

.selector {
  position: absolute;
  /* leaflet zindex is 700 */
  z-index: 1000;
}

.openPopup {
  cursor: pointer;
}

.popupDelete {
  cursor: pointer;
  height: 18px;
  width: 80px;
  margin-top: 10px;
}

.leaflet-popup-content {
  text-align: center;
}

.leaflet-top .leaflet-control {
  margin-top: 27px;
}

.singleCountryDiv {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.singleCountryMap {
  min-width: 60%;
  max-width: 60%;
}

.singleCountryInfo {
  text-align: center;
  min-width: 40%;
  position: relative;
}

.trip_back_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
}

.countryImages {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.countryImages:hover {
  opacity: 0.5;
}

.country_selector {
  display: flex;
}

nav {
  width: 100%;
  height: 55px;
  border-bottom: 2px solid #0d2538;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.nav_icon {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

.welcome {
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.nav_list {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  background-color: #0d2538;
  position: fixed;
  top: 0;
  left: 0;
  width: 95px;
  height: 100vh;
  padding-top: 3.5rem;
  z-index: 1100;
}

li {
  padding: 18px 10px;
  color: white;
}

@media (max-width: 768px) {
  .nav_list {
    flex-flow: column nowrap;
    background-color: #0d2538;
    position: fixed;
    top: 0;
    right: 0;
    width: 87px;
    height: 100vh;
    padding-top: 3.5rem;
  }
}

.burger_nav {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 1200;
}

.burger_dash {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.4s linear;
}

.nav_links {
  color: white;
  text-decoration: none;
}

.imageDiv {
  display: flex;
  flex-wrap: wrap;
}

.imageField {
  flex-grow: 1;
  max-width: 33.33%;
  height: 300px;
  background-color: black;
  position: relative;
}

.single_country_input_div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.plan_trip_div {
  margin-left: auto;
}

.plan_trip_button {
  background: chartreuse;
  font-weight: bold;
}

.imageUrl {
  width: 500px;
}

.delete_button_picture {
  position: absolute;
  right: 0;
  top: 0;
}

.modalDiv {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalWrapper {
  width: 1000px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.modalImage {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background: #000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
  max-width: 75%;
}

.modalPara {
  margin-bottom: 1rem;
}
.modalButton {
  color: rgb(0, 0, 0);
  border: none;
  background: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.create_modal_wrapper {
  width: 400px;
  height: 600px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: url("./loginImage.jpeg");
  color: #000;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.modal_create_button {
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}

.create_inputs {
  width: 300px;
  margin-left: 50px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
}

.create_button {
  color: black;
  font-weight: 700;
  letter-spacing: 3px;
  background: none;

  width: 100px;
}

.login_view {
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
  font-size: 18 px;
  background: url(./loginImage.jpeg);
}

.login_fieldset {
  flex-grow: 1;
  align-self: flex-start;
  justify-self: center;
  text-align: center;
}

.login_input {
  width: 300px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login_fieldset:nth-child(1) {
  margin-top: 10px;
}

.login_buttons {
  color: black;
  font-weight: 700;
  letter-spacing: 3px;
  background: none;
  margin-right: 5px;
  margin-left: 5px;
}

.country_list_button {
  color: white;
  margin-bottom: 10px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 265px;
  z-index: 1000;
}

.trip_plan_div {
  min-height: 100%;
}

.trip_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.to_consider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100%;
  align-items: center;
}

.visit_cities {
  display: flex;
  flex: 1;
  margin-top: 10px;
  justify-content: space-between;
}

.trip_links {
  margin-top: 250px;
  gap: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.cost_div,
.safety_div {
  text-align: center;
}

.city {
  font-weight: bold;
  color: black;
  margin: 5px;
}

a {
  color: blue;
  text-decoration: none;
}

/* Load Spinner */
.loader_div {
  background: url("./loginImage.jpeg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border-top: 16px solid yellow;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
