* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#map {
  height: 70vh;
  width: 100vw;
}

.popUp {
  background-color: red;
}

.openPopup {
  cursor: pointer;
}

.singleCountryDiv {
  display: flex;
}

.singleCountryMap {
  max-width: 70%;
}

.singleCountryInfo {
  text-align: center;
  min-width: 30%;
}

.countryImages {
  width: 300px;
  height: 300px;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 30px;
  margin-bottom: 2px;
  justify-content: space-around;
}

.nav_links {
  color: white;
  text-decoration: none;
}
