* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#map {
  height: 70vh;
  width: 100vw;
}

.popUp {
  background-color: red;
}

.openPopup {
  cursor: pointer;
}

.singleCountryDiv {
  display: flex;
}

.singleCountryMap {
  max-width: 70%;
}

.singleCountryInfo {
  text-align: center;
  min-width: 30%;
}
